RANDFILE                = /dev/urandom

[ req ]
default_bits            = 2048
default_keyfile         = /etc/stunnel/stunnel.key
distinguished_name      = req_distinguished_name
prompt                  = no
policy                  = policy_anything

[ req_distinguished_name ]
commonName              = localhost
